* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}
.content {
    width: 100%;
    padding: 1rem;
    background-color: white;
    height: 100%;
}

@media screen and ( min-width: 992px ) {
    .content{
        max-width: 992px;
        max-height: auto;
        margin: 1 auto;
    }
}
