.status{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.statusImg{
    max-width: 100%;
    height: 70px;
}

.statusNumero{
    color: black;
    opacity: 0.6;
    text-align: right;
    font-size: 12px;
}

.statusNome {
    text-transform: capitalize;
    text-align: center;
    color: white;
    margin: 0.25rem 0;
}

.statusDetalhe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.statusTypes {
    padding: 0;
    margin: 0;
    list-style: none;
}

.status .statusDetalhe .statusTypes .type{
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border-radius: 1rem;
    font-size: 12px;
    filter:brightness(1.1);
    float: left;
}

.statusBase{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 12px;
}
.statusBase span{
    text-align: center;
}

.statusBase ol li{
    align-items: left;
    list-style: none;
}

.btnStatus{
   width: 70PX; 
   margin: auto;
}

